# Virtual environment
venv/

# Python cache
**/__pycache__/
*.pyc

# Environment variables
.env

# Generated datasets
data/processed/

# Trained models
models/

# Pytest cache
.pytest_cache/

# Jupyter notebooks (optional, if you use them)
.ipynb_checkpoints/